	body{
		background-color: #009999;
		font: 10px normal arial, helvetica, verdana;
		color: #660099;
	}
	
	
	div.box{
		width: 200px;
		cursor: hand;
		background-color: #ffffff;
		-moz-opacity: 0.6;
		filter: alpha(Opacity=60);
		border: 1px solid #333333;*/
	}
	
	div.simpleDropPanel{
		width: 260px;
		height: 180px;
		background-color: #ffffff;
		padding: 5px;
		border: 1px solid #333333;
	}
			
	div.simpleDropPanel2{
		width: 260px;
		height: 100px;
		background-color: #999999;
		padding: 5px;
		border: 1px solid #333333;
	}
	